.addButton {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  background: none;
  cursor: pointer;
  width: fit-content;
  border: none;
  font-weight: 400;
  font-size: 18px;
  color: #5e6c84;
  text-align: center;
  transition: color 0.5s;

  &:disabled {
    color: #ccc;
    cursor: not-allowed;
  }
}
.submitButton {
  width: fit-content;
  border: none;
  background:#0079BF ;
  color: #fff;
  padding: 0.5rem 1.8rem;
  border-radius: 5px;
  &:disabled {
    background-color: transparent;
    color: #ccc;
    cursor: not-allowed;
  }
}
.plusSymbol {
  font-size: 27px;
}